<div class="message">
  <div class="upper-comment">
    <div class="comment-user">
      <%= message.user.name%>
      <%= message.company.company_name%>
    </div>
    <div class="create-time">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="comment">
      <%= message.content %>
  </div>
</div>