<%= render "shared/header" %>

<div class="main-back">
  <div class="side-bar">
    <div class="side-name">
      
    </div>
    <div class="">
      <ul class="scaut-lists">
        <li class="scaut-list">テンプレートレンダーコレクション</li>
      </ul>
    </div>
  </div>
  <div class="main-contact">
    <div class="messages-viewer">
      
    </div>
    <div class="message-box">
      
    </div>
  </div>
</div>
