.main-back{
  background-color: #f8f8f8;
  margin-top: 80px;
  display: flex;
}
.side-bar{
  background-color: rgb(185, 185, 185);
  width: 280px;
}
.side-name{
  background-color: gray;
  color: #f8f8f8;
  height: 80px;
}

.main-content{
  
}

.messages-viewer{
  width: calc(100vw - 280px);
  height: calc(100vh - 80px - 80px);
}
.message-box{
  background-color: lightgray;
  width: calc(100vw - 280px);
  height: 80px;
}