* {
  box-sizing: border-box;
}
.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: #272727;
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 10vh;
}
.copy-right{
  margin: 0px auto;
}
