* {
  box-sizing: border-box;
}
.footer {
  width: 100vw;
  padding: 5vh 0;
  color: #FFF;
  background-color: rgb(81, 120, 250);
  text-align: center;
  position: fixed;
  bottom: 0;
  height: 100px
}
.copy-right{
  margin: 0px auto;
}
