* {
  box-sizing: border-box;
}
.top-page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-top{
  background-color: rgb(81, 120, 250);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
}
.nav {
  display: flex;
  height: 10vh;
}
.head-list{
  display: flex;
  margin-top: 25px;
}
.edit-user-lists{
  position: absolute;
}
.user-header-icon{
  width: 70px;
  height: 70px;
  margin-top: 5px;
}
.new-tweet {
  font-size: 20px;
  color: white;
  border: 1px solid black;
  margin-right: 2vw;
  padding: 18px ;
}
.login-btn{
  font-size: 20px;
  color: white;
  border: black solid 1px;
  padding: 18px;
  margin-right: 7vw;
}
.app-logo{
  font-size: 35px;
  margin: 13px auto 0 30px;
  color: white;
}