<%= render "shared/header" %>
<div class="main">
  <div class="user-infomation">
    <div class="user-infomation-main">
      <div class="">
      </div>
    </div>
    <div class="user-infomation-sub">
    </div>
  </div>
  <div class="user-contents">
  </div>

</div>
<%= render "shared/footer" %>