<div class='footer'>
  <div class="footer-list">
    <div class="footer-right">
    </div>
    <div class="footer-left">
    </div>
  </div>
  <div class="copy-right">
  (c)copy-right Next Society
  </div>
</div>