<%= render "shared/header" %>
<div class="main-back">

  <%= render "sidebar" %>

  <div class="main-contact">
    <div class="messages-viewer">
      
    </div>
    <div class="message-box">
      
    </div>
  </div>
</div>




