<%= render "shared/header" %>

<div class="main-back">
  <div class="side-bar">
    <div class="side-head">
      
    </div>
    <div class="">
      <ul class="">
        <li>テンプレートレンダーコレクション</li>
      </ul>
    </div>
  </div>
  <div class="main-contact">
    <div class="messages-viewer">
      <%#= render partial: 'message', collection: @messages %>
    </div>
    <div class="message-box">
      <%= form_with model:[room] %>
    </div>
  </div>
</div>

