<%= render "shared/header" %>
<div class="main-back">
  <div class="side-bar">
    <div class="side-name">
      今までのチャット一覧
    </div>
    <div class="">
      <ul class="scaut-lists">
        <li class="scaut-list">チャット相手一覧.eachで書き込み</li>
      </ul>
    </div>
  </div>
  <div class="main-contact">
    <div class="messages-viewer">
      
    </div>
    <div class="message-box">
      
    </div>
  </div>
</div>