<%= render "shared/header"%>
  <div class="main-tweet">
    <%= render "tweet"%>
  </div>
  <%# 企業ユーザーのとき %>
  <div class="scaut-btn">
    <%= link_to "スカウトする", '#', class:"scaut" %>
  </div>
  
<%= render "shared/footer"%>