<%= render "shared/header"%>
<div class="main">
  <div class="selector-btn">
    <li><%= link_to "就活生", new_user_registration_path, class:"user-select-btn" %></li>
    <li><%= link_to "企業側ユーザー", new_company_registration_path, class:"user-select-btn" %></li>
  </div>
</div>