<%= render "shared/header"%>
<div class="main">
  <div class="selector-btn">
    <li class="select-user"><%= link_to "就活生", user_session_path, class:"user-select-btn" %></li>
    <li class="select-user"><%= link_to "企業側ユーザー", company_session_path, class:"user-select-btn" %></li>
  </div>
</div>
<%= render "shared/footer"%>