* {
  box-sizing: border-box;
}
.main{
  background-color: #f8f8f8;
  width: 100vw;
  position: fixed;
  margin-top: 100px;
}
.low{
  display: flex;
  position: relative;
}
.left-bar{
  width: 25vw;
  position: fixed;
  margin-top: 100px;
}
.test-image{
  width: 220px;
  height: 220px;
  border: solid;
}
.main-bar{
  width: 70vw;
  margin-left: 25vw;
}
.search-blind{
  background-color: aqua;
}
.search-form {
  width: 50vw;
  height: 5vh;
  display: flex;
  margin-top: 10px;
  margin-left: 200px;
  position: fixed;
}
.search-box {
  width: 80%;
  height: 5vh;
  padding-left: 10px;
}
.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #272727;
  padding: 8px;
}
.search-icon {
  width: 100%;
}
.lists{
  margin: 100px auto auto 160px;
}
.tweet-box{
  border: black solid 1px;
}
.tweet-list{
  display: flex;

}
.right-bar{
  width: 15vw;
}
.ocu-list{
  margin-top: 10px;
  text-align: center;
}