.tweet-main{

}
.tweeting{
  margin-left: 30vw;
}
.tweet-list-box{
  margin: 0 auto;
}
.input-label{
  margin-right: 20px;
}
.tweet-occupation-box{
  width: 8vw;
}
.tweet-boast-box{
  width: 30vw;
  height: 13vh;
}
.tweet-title-box{
  width: 30vw;
  height: 28px;
}

.tweet-btn{
  margin: 30px auto;
  width: 20%;
  color: aliceblue;
}